<div id="activity" class="activity-list">
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1">
      
      <% if @user.should_update_profile? %>
        <%= content_for :warning do %>
          Haz click <i><a href="<%= user_profile_path(@user) %>">aquí</a></i> para completar tu perfil y obtener lo mejor de Recyclo.
        <% end %>
      <% end %>
      
			<% if @user.is_a_giver? %>
  			<h3 class="centered">Reciclables publicados</h3><br/>
				<%= render partial: 'dashboard/activity/giver', locals: { offers: @user.offers }  %>
        <%= render 'dashboard/activity/reminder' %>
			<% elsif @user.is_a_picker? %>
  			<h3 class="centered">Reciclables en observación</h3><br/>
				<%= render partial: 'dashboard/activity/picker', locals: { offers: @user.offers_through_proposals }  %>
        <%= render 'dashboard/activity/reminder' %>
        
			<% end %>
		</div>
	</div>
</div>