<%= content_for :messages_and_alerts do %>
  <%= render 'devise/shared/error_messages' %>
<% end %>

<%= content_for :navbar_menu_items do %>
  <%= render 'devise/shared/navbar_items' %>
<% end %>

<div class="container login">
	<div class="row">
		
		<div class="col-lg-6 col-lg-offset-3">
			<div class="well bs-component">
				<h3 class="title">Regístrate</h3>
				<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
					<div class="form-group">
					  <div class="col-lg-10 col-lg-offset-1">
							<%= f.text_field :full_name, placeholder: "Escribe tu nombre", hide_label: true, class: 'form-control' %> 
						</div>
					</div>
					<br/><br/>
					<div class="form-group">
					  <div class="col-lg-10 col-lg-offset-1">
							<%= f.email_field :email, placeholder: "Escribe un e-mail válido", autofocus: true, hide_label: true, class: 'form-control' %> 
						</div>
					</div>
					<br/><br/>
					<div class="form-group">
					  <div class="col-lg-10 col-lg-offset-1">
							<%= f.password_field :password, placeholder: "Escribe una contraseña", hide_label: true, class: 'form-control' %> 
						</div>
					</div>
          <% if session[:user_kind].blank? %>
  					<br/><br/>
  					<div class="form-group">
  						<div class="col-lg-10 col-lg-offset-1">
  							<p><b>¿Cómo quieres participar?</b></p>
  						</div>
  						<div class="row col-lg-10 col-lg-offset-1">
  						  <div class="col-lg-6">
  								<div class="row">
  									<div class="col-lg-2 centered"><%= f.radio_button :role, User.roles[:giver] %></div>
  									<div class="col-lg-10"><%= f.label :role, "Donando" %></div>
  								</div>
  							</div>
  							<div class="col-lg-6">
  								<div class="row">
  									<div class="col-lg-2 centered"><%= f.radio_button :role, User.roles[:picker] %></div>
  									<div class="col-lg-10"><%= f.label :role, "Recolectando" %></div>
  								</div>
  							</div>
  						</div>
  					</div>
          <% else %>
            <%= f.hidden_field :role, value: session[:user_kind] %>
          <% end %>
					<div class="form-group">
					  <div class="col-lg-10 col-lg-offset-1">
              <div class="checkbox">
                <label>
    							<%= f.check_box :accepted_privacy_note %>
                  Acepta nuestro 
                  <%= link_to 'Aviso de privacidad', privacy_note_path,  target: '_blank' %>
                  antes de registrarte
                </label>
              </div>
						</div>
					</div>
					<br/><br/><br/>
				  <div class="row">
						<div class="col-lg-12 centered"><%= f.submit "Registrarme", class: 'btn btn-primary' %></div>
					</div>
				<% end %>
				
			</div>
			
			<div class="row action-links">
				<div class="col-lg-12 centered">
					<a href="<%= new_user_session_path %>"><b>¿Ya tienes una cuenta?</b> Ingresa con ella</a>
				</div>
			</div>
		</div>
	</div>
</div>