<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div style="text-align: center">
      <h1>Hola <%= @to_user.full_name %></h1>
      <p><b><%= @from_user.full_name %></b> ha decidido sobre tu propuesta, lo siguiente:</p>
      
      <div style="padding: 10px; margin: 10px; background-color: #E9E9E9; color: #676767">
        <p><%= @proposal.is_accepted? ? "La ha aceptado!" : "No la ha aceptado :(" %></p>
      </div>
      
      <p>Puedes ver más información sobre el estado de la propuesta
        <%= link_to "aquí", offer_url(@proposal.offer).concat("#/proposals/#{@proposal.id}"), style: "color: #006FB7;" %>
      </p>
      <p style="font-size: 15px; font-weight: normal; color: #BABABA;">Recyclo <%= Date.today.year %></p>
    </div>
  </body>
</html>
