<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div style="text-align: center">
      <h1>¡Hola <%= @to_user.full_name %>!</h1>
      <p>El recolector de reciclables <b><%= @from_user.full_name %></b> parece estar interesado en el siguiente reciclable que ofreces:</p>
      <div style="padding: 10px; margin: 10px; background-color: #E9E9E9; color: #676767">
        <a href="<%= offer_url(@proposal.offer) %>"><%= humanized_title_for(@proposal.offer) %></a>
      </div>
      <p>Puedes responderle
        <%= link_to "aquí", offer_url(@proposal.offer).concat("#/proposals/#{@proposal.id}"), style: "color: #006FB7;" %>
        para confirmar que puede pasar por ellos o para resolver sus dudas.
      </p>
      <p style="font-size: 15px; font-weight: normal; color: #BABABA;">Recyclo <%= Date.today.year %></p>
    </div>
  </body>
</html>
