<%= content_for :messages_and_alerts do %>
  <%= render 'devise/shared/error_messages' %>
<% end %>

<%= content_for :navbar_menu_items do %>
  <%= render 'devise/shared/navbar_items' %>
<% end %>

<div class="container login">
	<div class="row">
		<div class="col-lg-6 col-lg-offset-3">
      <div class="well bs-component">
        <h3 class="title">Reestablecer contraseña</h3>

        <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
          <%= f.hidden_field :reset_password_token %>
					<div class="form-group">
					  <div class="col-lg-10 col-lg-offset-1">
							<%= f.password_field :password, placeholder: "Nueva contraseña", :autofocus => true, class: 'form-control' %> 
						</div>
					</div>
          
					<div class="form-group">
					  <div class="col-lg-10 col-lg-offset-1">
							<%= f.password_field :password_confirmation, placeholder: "Confirmar contraseña", :autofocus => true, class: 'form-control' %> 
						</div>
					</div>
          
				  <div class="row">
						<div class="col-lg-12 centered">
              <br/>
              <%= f.submit "Reestablecer" %>
            </div>
					</div>
        <% end %>
      </div>
    </div>
  </div>
</div>
        



