<div id="landing-page" class="lp">
	<div class="floating-navbar">
    <ul>
    	<li>
        <%= link_to "<i class='glyphicon glyphicon-user'></i>&nbsp;&nbsp;Ingresar".html_safe, new_user_session_path %>
      </li>
      <li>
    	  <%= link_to "<i class='glyphicon glyphicon-pencil'></i>&nbsp;&nbsp;&nbsp;Registrate".html_safe, new_user_registration_path %>
      </li>
    </ul>
	</div>
	<div id="slides">
	  <div class="slides-container">
			<%= render partial: 'welcome/slides/slide', locals: {kind: 'metal'} %>
			<%= render partial: 'welcome/slides/slide', locals: {kind: 'glass'} %>
			<%= render partial: 'welcome/slides/slide', locals: {kind: 'paper'} %>
			<%= render partial: 'welcome/slides/slide', locals: {kind: 'PET'} %>
	  </div>
	</div>
  
  <div class="fixed-container">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-4 col-lg-offset-4 centered header">
            <%= image_tag('logo.png', class: 'img-responsive centered-in') %>
            <p class="slogan">Comercializa reciclables fácil y rápido con personas cerca de ti, mejorando tu ciudad</p>
            
            <span class="know-more">
              <a href="javascript:void(0)" class="btn btn-lg btn-primary show-more-info">¿Cómo funciona?</a>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="start-opts">
      <div class"row">
        <div class="col-lg-1"></div>
        <a href="<%= participa_donando_path %>" class="col-lg-1">
          <%= image_tag("recyclable-metal.png", class: 'img-responsive centered-in') %>
        </a>
        <a href="<%= participa_donando_path %>" class="col-lg-3">
          <h4 class="title">Dona tus reciclables</h4>
          <p class="text">Almacena, publica y dona reciclables para ayudar a tener una ciudad más limpia y libre de basura.</p>
        </a>
        <div class="col-lg-2"></div>
        <a href="<%= participa_recolectando_path %>" class="col-lg-3 right">
          <h4 class="title">Recolecta reciclables</h4>
          <p class="text">Busca, recolecta y vende reciclables en depósitos cercanos a tu ubicación y gana dinero en tu tiempo libre.</p>
        </a>
        <a href="<%= participa_recolectando_path %>" class="col-lg-1">
          <%= image_tag("recyclable-metal-pay.png", class: 'img-responsive centered-in') %>
        </a>
        <div class="col-lg-1"></div>
      </div>
    </div>
		<div class="footer centered">
			<ul>
				<li class="privacy text">Aviso de privacidad</li>
        <li class="privacy text"><b>Recyclo 2015</b></li>
				<% if false %>
        <li class="social-nets">
					<%= link_to image_tag('twitter_icon.png', class: 'preserve icon') %> 
					<%= link_to image_tag('facebook_icon.png', class: 'preserve icon') %>
				</li>
        <% end %>
				<li class="privacy text">Contáctanos en <i><%= mail_to('contacto@recyclo.mx') %></i></li>
			</ul>
		</div>
	</div>
  
  <div class="fixed-modal">
    <%= link_to image_tag('close-icon.png', size: '30x30'), 'javascript:void(0)', class: 'fixed-icon  hide-more-info' %>
    <div class="contents-of-modal">
      <div class"row">
        <div class="col-lg-5 steps">
          <%= image_tag('world-icon.png', size: '500x500', class: 'fixed-left-icon') %>
          <h4 class="centered title">Donar reciclables</h4>
          
          <div class="step row">
            <div class="col-lg-2 number">1</div>
            <div class="col-lg-10 instruction">
              <p><b>Separa</b> tu basura y almacena reciclables como el vidrio, cartón, plásticos, metal o fierros.</p>
            </div>
          </div>
          <div class="step row">
            <div class="col-lg-2 number">2</div>
            <div class="col-lg-10 instruction">
              <p><b>Publica</b> el tipo y la cantidad de reciclables que vas a donar.</p>
            </div>
          </div>
          <div class="step row">
            <div class="col-lg-2 number">3</div>
            <div class="col-lg-10 instruction">
              <p><b>Acuerda</b> una fecha y hora con el recolector que tu selecciones a través de <i>Recyclo</i> para entregarle los reciclables.</p>
            </div>
          </div>
          <div class="step row conclusive">
            <div class="col-lg-12 centered">
              <p class="button">
                <%= link_to 'Empieza a donar', participa_donando_path, class: 'btn btn-primary btn-primary-lg' %>
              </p>
              <p class="mini-title">y ayuda al planeta!</p>
            </div>
          </div>
        </div>
        <div class="col-lg-2"></div>
        <div class="col-lg-5 steps">
          <%= image_tag('money-icon.png', size: '500x500', class: 'fixed-right-icon') %>
          <h4 class="centered title">Hacer dinero recolectando reciclables</h4>
          
          <div class="step row">
            <div class="col-lg-2 number">1</div>
            <div class="col-lg-10 instruction">
              <p><b>Busca</b> reciclables cercanos a tu ubicación.</p>
            </div>
          </div>
          <div class="step row">
            <div class="col-lg-2 number">2</div>
            <div class="col-lg-10 instruction">
              <p><b>Contacta</b> al donador a través de <i>Recyclo</i> para acordar fecha y hora para recogerlos.</p>
            </div>
          </div>
          <div class="step row">
            <div class="col-lg-2 number">3</div>
            <div class="col-lg-10 instruction">
              <p><b>Recoge</b> los reciclables, llévalos al centro de acopio más cercano y recibe dinero por ellos.</p>
            </div>
          </div>
          <div class="step row conclusive">
            <div class="col-lg-12 centered">
              <p class="button">
                <%= link_to 'Empieza a recolectar', participa_donando_path, class: 'btn btn-primary btn-primary-lg' %>
              </p>
              <p class="mini-title">y gana dinero!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
