<div class="centered">
  <% if proposal.is_accepted? %>
    <% if current_user_is_a_picker_for(proposal.offer) %>
      <p class="lead"><%= proposal.offer.user.full_name %> aceptó tu propuesta <b>¡Enhorabuena!</b></p>
      <br/>
      <div class="progress">
        <div class="progress-bar progress-bar-info" style="width: 100%"></div>
      </div>
      <p>Ya puedes ir a recolectar sus reciclables, cumple en tiempo y forma con lo acordado.</p>
      
    <% elsif current_user_is_a_giver_of(proposal.offer) %>
      <p class="lead">Has aceptado la propuesta de <%= proposal.user.full_name %> <b>¡Enhorabuena!</b></p>
      <br/>
      <div class="progress">
        <div class="progress-bar progress-bar-info" style="width: 100%"></div>
      </div>

      <%= render partial: 'proposals/giver/reconsider_form', locals: { proposal: proposal } %>
    <% end %>
    <br/>
    <p class="lead">Si tienes más preguntas que hacer, todavía puedes hacerlas por aquí</p>
    <br/>
    <%= render partial: 'proposals/reply', locals: { proposal: proposal } %>
  <% elsif proposal.is_rejected? %>
    <% if current_user_is_a_giver_of(proposal.offer) %>
      <p class="lead">No aceptaste la propuesta de <%= proposal.user.full_name %></p>
      <br/>
      <div class="progress">
        <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
      </div>
      <%= render partial: 'proposals/giver/reconsider_form', locals: { proposal: proposal } %>
    <% else  %>
      <p class="lead">Lo sentimos, pero el donador rechazó tu propuesta</p>
      <br/>
      <div class="progress">
        <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
      </div>
      <p>No te preocupes, contacta a muchos de nuestros otros donadores de reciclables</p>
    <% end %>
  <% elsif proposal.offer_is_available? %>
    <% if current_user_is_a_giver_of(proposal.offer) %>
      <div class="row">
        <h5 class="centered">
          ¿Quieres que <b><%= proposal.user.full_name %></b> recolecte tus reciclables?
        </h5>
      </div>
      <ul class="proposal-binaries">
        <li>
          <%= form_for(proposal, method: :put) do |p| %>
            <%= p.hidden_field :status, value: Proposal.status_for[:accepted] %>
            <%= p.submit 'Aceptar', class: 'btn btn-success' %>
          <% end %>
        </li>
        <li>
          <%= form_for(proposal, method: :put) do |p| %>
            <%= p.hidden_field :status, value: Proposal.status_for[:rejected] %>
            <%= p.submit 'Declinar', class: 'btn btn-danger' %>
          <% end %>
        </li>
      </ul>
      <div class="row"><h5 class="centered">o bien, pregúntale algo</h5></div>
    <% else %>
      <div class="row"><h5 class="centered">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="progress progress-striped active">
            <div class="progress-bar" style="width: 100%"></div>
          </div>
        </div>
        <br/>
        <div>
          <h5><%= proposal.offer.user.full_name %></b> aún no se decide por tu propuesta.</h5>
          <p>Puedes esperar, o bien, contactarle nuevamente</p>
        </div>
      </div>
    <% end %>
    <br/>
    <%= render partial: 'proposals/reply', locals: { proposal: proposal } %>
  <% else %>
    <% if current_user_is_a_giver_of(proposal.offer) %>
      <p class="lead">Ignoraste la propuesta de <%= proposal.user.full_name %></p>
      <br/>
      <div class="progress">
        <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
      </div>
      <p>Si deseas reconsiderarla, cancela el trato que hiciste con el otro recolector.</p>
    <% else %>
      <p class="lead">Una propuesta diferente a la tuya fué seleccionada</p>
      <br/>
      <div class="progress">
        <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
      </div>
      <p>No te preocupes, contacta a muchos de nuestros otros donadores de reciclables</p>
    <% end %>

    
  <% end %>
</div>