<div class="messages-list">
  <% if current_user.is_a_picker? %>
    <h4 class="centered section-title">Tu propuesta para el donador de reciclables</h4>
  <% else %>
    <h4 class="centered section-title">Propuestas</h4>
  <% end %>
  <div class="list-group">
    <% proposals = offer.proposals_in_context_of(current_user) %>
    
    <% if proposals.length == 0 %>
      <% if current_user.is_a_picker? %>
        <p class="lead centered">No has iniciado contacto con el donante de este reciclable</p>
        <br/>
        <p class="centered">
          <%= link_to 'Contactar', offers_path.concat("#/locations/#{offer.location.id}"), class: 'btn btn-success' %>
        </p>
      <% else %>
        <p class="lead centered">No has recibido aún propuestas para este reciclable</p>
      <% end %>
    <% else %>
      <% proposals.each do |proposal| %>
      <div id="proposal-<%= proposal.id %>" class="proposal">
        <%= render partial: 'proposals/header', locals: { proposal: proposal } %>
        <div class="conversation">
          <ul class="list-group sub-messages">
            <% proposal.messages.each do |message| %>
              <% if message.user == current_user %>
                <p class="text-avatar">
                  <span class="time">hace <%= distance_of_time_in_words_to_now(message.created_at) %></span> 
                  <span class="label label-default">Tu dijiste</span>
                </p>
                <li class="list-group-item blue">
              <% else %>
                <p class="text-avatar">
                  <span class="time">hace <%= distance_of_time_in_words_to_now(message.created_at) %></span>
                  <span class="label label-primary"><%= link_to message.user.full_name, user_profile_path(message.user), class: 'user-profile-link' %> dijo</span>
                </p>
                <li class="list-group-item grey">
              <% end %>
                <%= message.body %>
              </li>
            <% end %>
          </ul>
          <br/>
          <%= render partial: 'proposals/actions', locals: { proposal: proposal } %>
        </div>
      </div>
      <% end %>
    <% end %>
  </div>
</div>