<div id="offer-<%= offer.id %>" class="offer list-group">
  <a href="<%= offer_path(offer) %>" class="list-group-item">
  	<div class="row">
    	<div class="col-lg-6">
        <h4 class="list-group-item-heading"><%= humanized_title_for(offer) %></h4>
        <% if offer.user == current_user %>
    		  <p class="date">lo publicaste hace <b><%= distance_of_time_in_words_to_now(offer.created_at) %></b></p>
        <% else %>
    		  <p class="date">publicado por <b><%= offer.user.full_name %></b> hace <b><%= distance_of_time_in_words_to_now(offer.created_at) %></b></p>
        <% end %>
    	</div>
    	<div class="col-lg-6">
    		<h5 class="right">
          <% if offer.is_available? %>
            <span class="label label-warning"><%= humanized_message_count_for(offer.messages.count) %></span>
            <span class="label label-primary">Disponible</span>
            <% if last_message_for_offer_is_more_than?(offer, 1.day) %>
              <span class="label label-danger">Requiere tu atención</span>
            <% end %>
          <% else %>
            <span class="label label-default"><%= humanized_message_count_for(offer.messages.count) %></span>
            <span class="label label-info">Cerrada</span>
          <% end %>
        </h5>
    	</div>
    </div>
  </a>
  <% if current_user.is_a_picker? %>
    <div class="col-lg-12">
      <p class="right">
        Le contactaste por primera vez hace <b><%= distance_of_time_in_words_to_now(offer.proposal_issued_by(current_user).created_at) %></b>
      </p>
    </div>
    <br/>
  <% end %>
</div>
