<div id="offers-list">
	<% @offers.each_pair do |location_string, offers| %>
    <div class="offer-location" id="location-<%= location_string.split(':')[0] %>"
         data-lng="<%= location_string.split(':')[2] %>" 
         data-lat="<%= location_string.split(':')[1] %>">
      <div class="modal">
        <div class="modal-dialog">
          <div class="modal-content blue-modal">
            <div class="modal-header">
              <button type="button" class="close" aria-hidden="true">×</button> 
              <h5 class="modal-title">Ofertas de reciclables posteados por</h5>
            </div>
            <div class="modal-body">
              <div class="row col-lg-12">
                <div class="col-lg-3 centered">
                  <% if (offers.first.user.avatar.nil? || offers.first.user.avatar.url(:thumb).nil?) %>
                    <%= image_tag('empty-user-pic.png', size: '70x70', class: 'img-circle', style: 'opacity: 0.4') %>
                  <% else %>
                    <%= image_tag(offers.first.user.avatar.url(:thumb), size: '70x70', class: 'img-circle') %>
                  <% end %>
                </div>
                <div class="col-lg-9">
                  <h5 style="margin-top: 7px">
                    <%= link_to offers.first.user.full_name, user_profile_path(offers.first.user), class: 'user-profile-link' %>
                  </h5>
                  <p>usuario desde hace <%= distance_of_time_in_words_to_now(offers.first.user.created_at) %></p>
                </div>
              </div>             
            </div>
            <div class="modal-footer"></div>
          </div>
        </div>
		    <%= render partial: 'offers/pickers/offer', collection: offers, as: :offer, locals: {location_id: location_string.split(':')[0] } %>
      </div>
    </div>
	<% end %>
</div>

<div class="container-right">
  <div class="instructions">
    <%= image_tag('map-icon.png') %>
    <p>Busca en el mapa los reciclables que la gente ofrece, ponte en contacto con quien los dona para acordar una fecha y hora para recogerlos.</p>
  </div>
  <%= render 'offers/legend' %>
</div>