<div id="new-offer" class="offer">
	<div class="row new">
		<div class="col-lg-6 col-lg-offset-3">
      <%= render 'shared/messages' %>
      <%= form_for(@offer, class: 'form-horizontal', html: {multipart: true}) do |f| %>  
        <div class="list-group">
          <a href="javascript:void(0)" class="list-group-item">
            <h4 class="list-group-item-heading"><i class="glyphicon glyphicon-info-sign"></i> Recuerda</h4>
            <p class="list-group-item-text">
              Tus reciclables deberán estar limpios y secos al momento de que el recolector pase por ellos :)
            </p>
          </a>
        </div>
        
        <p>
          <ul class="nav nav-pills">
            <li class="active"><%= link_to '← Atrás', :back %></li>
          </ul>
        </p>
        <div class="panel panel-default">
          <div class="progress">
            <div class="progress-bar progress-bar-success" style="width: 100%;"></div>
          </div>
          <div class="panel-body">
            <h4 class="centered">Detalles de tu nuevo reciclable</h4>
            <br/>
            <p class="lead centered">Selecciona el tipo de reciclable</p>
            <div class="row">
              <div class="col-lg-10 col-lg-offset-1">
                <div class="row">
                  <div class="col-lg-12 centered">
                    <div class="list-group reciclables-list-group">
                      <a href="javascript:void(0)" class="list-group-item">
                        <div class="row">
                          <div class="col-lg-3">
                            <%= image_tag('recyclable-glass.png', class: 'img-responsive') %>
                          </div>
                          <div class="col-lg-8 content-section">
                            <h4 class="list-group-item-heading"><%= Offer.materials_for(:glass) %></h4>
                            <p class="list-group-item-text">Botellas de refresco, cerveza, vino u otras.</p>
                          </div>
                          <div class="col-lg-1">
                            <%= f.radio_button :kind, Offer.materials_sym.invert[:glass] %>
                          </div>
                        </div>
                      </a>
                      <a href="javascript:void(0)" class="list-group-item">
                        <div class="row">
                          <div class="col-lg-3">
                            <%= image_tag('recyclable-pet.png', class: 'img-responsive') %>
                          </div>
                          <div class="col-lg-8 content-section">
                            <h4 class="list-group-item-heading"><%= Offer.materials_for(:pet) %></h4>
                            <p class="list-group-item-text">Envases de refresco, agua, jugos.</p>
                          </div>
                          <div class="col-lg-1">
                            <%= f.radio_button :kind, Offer.materials_sym.invert[:pet] %>
                          </div>
                        </div>
                      </a>
                      <a href="javascript:void(0)" class="list-group-item">
                        <div class="row">
                          <div class="col-lg-3">
                            <%= image_tag('recyclable-paper.png', class: 'img-responsive') %>
                          </div>
                          <div class="col-lg-8 content-section">
                            <h4 class="list-group-item-heading"><%= Offer.materials_for(:paper) %></h4>
                            <p class="list-group-item-text">Periódico, revistas, cartón de caja, papel de oficina.</p>
                          </div>
                          <div class="col-lg-1">
                            <%= f.radio_button :kind, Offer.materials_sym.invert[:paper] %>
                          </div>
                        </div>
                      </a>
                      <a href="javascript:void(0)" class="list-group-item">
                        <div class="row">
                          <div class="col-lg-3">
                            <%= image_tag('recyclable-metal.png', class: 'img-responsive') %>
                          </div>
                          <div class="col-lg-8 content-section">
                            <h4 class="list-group-item-heading"><%= Offer.materials_for(:metal) %></h4>
                            <p class="list-group-item-text">Latas de refresco, cerveza, jugo, atún.</p>
                          </div>
                          <div class="col-lg-1">
                            <%= f.radio_button :kind, Offer.materials_sym.invert[:metal] %>
                          </div>
                        </div>
                      </a>
                      <a href="javascript:void(0)" class="list-group-item">
                        <div class="row">
                          <div class="col-lg-3">
                            <%= image_tag('recyclable-fierro.png', class: 'img-responsive') %>
                          </div>
                          <div class="col-lg-8 content-section">
                            <h4 class="list-group-item-heading"><%= Offer.materials_for(:fierro) %></h4>
                            <p class="list-group-item-text">Colchones, tambores, refrigeradores, estufas, lavadoras o microondas.</p>
                          </div>
                          <div class="col-lg-1">
                            <%= f.radio_button :kind, Offer.materials_sym.invert[:fierro] %>
                          </div>
                        </div>
                      </a>
                    </div>
                    <% if false %>
                    <%= radio_button_tag(:kind, "child") %>
    								<%= f.select :kind, options_for_select(Offer.materials.invert.to_a), {}, 
    								{class: 'form-control'} %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-10 col-lg-offset-1">
                <div class="row">
                  <div class="col-lg-6 centered">
                    <%= f.number_field :quantity, placeholder: "Cantidad", required: true, hide_label: true, class: 'form-control' %>
                  </div>
                  <div class="col-lg-6 centered">
    								<%= f.select :quantifiable_type, options_for_select(humanized_offer_quantifiables), 
                    {}, {class: 'form-control'} %>
                  </div>
                </div>
              </div>
            </div>
            <br/>
            <div class="row">
              <div class="col-lg-10 col-lg-offset-1 centered">
                <%= f.text_area :details, placeholder: "Detalles adicionales", required: true, hide_label: true, class: 'form-control' %>
                <span class="help-block">Escribe aquí detalles adicionales sobre tu donación de reciclables. Por ejemplo: días y horas en los que el recolector puede pasar a recogerlos o en cuántas bolsas los tienes almacenados.</span>
              </div>
            </div>
            <br/>
            <div class="row">
              <div class="col-lg-10 col-lg-offset-1 centered">
                <%= image_tag('empty-pic.png', class: 'img-thumbnail', style: 'opacity: 0.4')%>
                <br/><br/>
                <%= f.file_field :offer_image %>
                <%= f.hidden_field :offer_image_cache %>
                <span class="help-block">Si tienes una foto a la mano de tus reciclables puedes añadirla para captar mayor interés de los recolectores cercanos.</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <p class="lead centered">La ubicación para que el recolector recoja este reciclable será:</p>
        </div>
        <div class="panel panel-default">
          <br/>
          <div class="row">
            <p class="text-warning centered">
              <b>IMPORTANTE:</b> Tu ubicación exacta y datos de contacto serán revelados al recolector que elijas.
            </p>
          </div>
          <div class="panel-body">
  					<% if user_signed_in? && !current_user.location.nil? %>
  						<%= render partial: 'locations/review', locals: { f: f, location: current_user.location} %>
  					<% else %>
            	<%= render partial: 'locations/new', locals: {f: f} %>
  					<% end %>
          </div>
        </div>
        <div class="row centered">
					<%= f.submit 'Publicar', class: 'btn btn-primary'%>
        </div>
      <% end %>
    </div>
  </div>
</div>