<div id="offer-<%= @offer.id %>" class="offer">
	<div id="offer-show">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">
        <%= render 'shared/messages' %>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <%= render partial: 'offers/fragments/offer_main_info', locals: {offer: @offer} %>  
        <% if current_user.id == @offer.user_id %>	
          <%= render partial: 'offers/fragments/location', locals: {offer: @offer} %>
          <%= render partial: 'offers/fragments/contact_data', locals: {offer: @offer} %>
          <%= render partial: 'offers/fragments/delete', locals: {offer: @offer} %>
        <% else %>
          <%= render 'offers/fragments/note_for_collectors' %>
        <% end %>
      </div>
    	<div class="col-lg-6">
        <%= render partial: 'proposals/list', locals: { offer: @offer } %>
      </div>
    </div>
</div>