<%= f.fields_for :location do |l| %>
	<div id="offer-location-select" class="row centered">
    <div class="map" id="map"></div>
    <div class="col-lg-8 col-lg-offset-2">
      <%= render 'locations/locate_me' %>
  		<%= l.text_field :address, placeholder: "Tu dirección", hide_label: true, class: 'form-control' %> 
      <span class="help-block">Ajusta tu dirección según lo consideres necesario</span>
    </div>
	</div>
	<%= hidden_field_tag 'offer[location[coordinates_lat]]' %>
	<%= hidden_field_tag 'offer[location[coordinates_lon]]' %>
<% end %>

