<%= f.fields_for :location do |l| %>
	<div id="offer-location-select" class="row centered">
    <div class="col-lg-12">
      <div class="<%= errors_for_field?(@offer, :location) %>">
  		  <%= l.text_field :address, placeholder: "Tu dirección", hide_label: true, class: 'form-control' %> 
      </div>
      <span class="help-block">Tu dirección es necesaria para que el recolector no se pierda</span>
      <br/>
    </div>
    <div class="map" id="map">
    </div>

    <div class="col-lg-12">
      <%= render 'locations/locate_me' %>
    </div>
	</div>
	<%= hidden_field_tag 'offer[location[coordinates_lat]]' %>
	<%= hidden_field_tag 'offer[location[coordinates_lon]]' %>
<% end %>

