<%= f.fields_for :location do |l| %>
  <div id="offer-location-select">
    <div class="map non-editable" id="map"></div>
  	<%= hidden_field_tag 'offer[location[coordinates_lat]]', location.lat %>
  	<%= hidden_field_tag 'offer[location[coordinates_lon]]', location.lon %>
  	<br/><br/>
  	<div class="row">
  	  <div class="col-lg-10 col-lg-offset-1 centered">
  			<%= text_area_tag :address, location.address, placeholder: "Tu ubicaci칩n", disabled: true, rows: 3, cols: 43 %> 
        <span class="help-block"><span class="label label-primary">Esta es la ubicaci칩n</span> que ver치 el recolector que selecciones cuando aceptes las condiciones para que pase a recoger tus reciclables. <br> Si quieres cambiar de ubiaci칩n, ve a tu <%= link_to 'perfil', user_profile_path(current_user.id) %>.</span>
  		</div>
  	</div>
  </div>
<% end %>