<!DOCTYPE html>
<html lang="en">
<head>
  <title>Recyclo</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	
  <%= render 'shared/favicons' %>
  <%= render 'shared/mixpanel' %>
  
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
