<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Recyclo" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", :media => "all" %>
    
    <%= render 'shared/favicons' %>

    <%= javascript_include_tag "application" %>
		<script type="text/javascript" src="http://maps.google.com/maps/api/js?libraries=geometry&sensor=true"></script>
  </head>
  <body>
		<%= image_tag('registration_bg.jpg', class: 'login-bg-photo') %>
		<%= devise_error_messages! %>
		<%= devise_sign_in_errors! %>
    
    <div class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="<%= root_path %>">
					<%= image_tag('logo-mini.png') %>
				</a>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
					
					<ul class="nav navbar-nav navbar-right">
						<% if url_for == new_user_session_path %>
	        		<li><a href="<%= new_user_registration_path %>"><b>¿No tienes cuenta aún?</b> Registrate</a></li>
						<% else %>
		        	<li><a href="<%= new_user_session_path %>"><b>¿Ya tienes una cuenta?</b> Ingresa con ella</a></li>
						<% end %>
		      </ul>
        </div>
      </div>
    </div>

    <div class="container">
			<%= yield %>

      <footer>
        <p>&copy; Recyclo 2015</p>
      </footer>

    </div> <!-- /container -->

  </body>
</html>